<!DOCTYPE html>
<html>


<body style="
padding: 30px;
margin: 0px;
color: white;
background-color: rgb(21, 72, 102);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border: 1px solid white;
border-top:20px solid white; 
border-bottom: 20px solid white;
">

    <div style="text-align: center;  ">
        <a href="https://authdare.com/">
            <img style=" display: inline; width: 100px; border-radius: 100%; border: 1px solid rgba(0, 0, 0, 0.795);"
                src="https://png.pngtree.com/png-vector/20191121/ourmid/pngtree-shield-with-a-check-mark-safe-and-protect-logo-on-white-png-image_1870454.jpg"
                alt="Logo" />
        </a>
    </div>

    <div style="text-align: center ; color: white;">
        <h1 style="font-weight: 600;  padding-bottom: 5px;">Welcome to Authdare</h1>
    </div>

    <hr>

    <div style="font-weight: 300; margin-top: 100px; color: white;">

        <p style=" font-size: 16pt; font-weight: 300;">Hi, this is Ahmet Emrebas, the founder of Authdare.</p>
        <div style="height: 20px;"></div>
        <h2 style="border-top-left-radius: 10px; border-left: 2px solid white; padding-left: 20px;">
            About Us
        </h2>
        <p style="font-size: 16pt;"> We are a software design and development agency located in Houston, TEXAS. </p>

        <div style="height: 20px;"></div>
        <h2 style="border-top-left-radius: 10px; border-left: 2px solid white; padding-left: 20px;">
            Expertise
        </h2>
        <ul>
            <li style="font-size: 16pt;">Web and Mobile software development.</li>
        </ul>
        <div style="height: 20px;"></div>
        <h2 style="border-top-left-radius: 10px; border-left: 2px solid white; padding-left: 20px;">
            Development Stack
        </h2>
        <div>
            <span
                style="font-size: 16pt; width: 100px; text-align: center; display: inline-block; margin: 3px; border: 1px solid white; padding: 10px; background-color: rgb(51, 124, 153);">NodeJS</span>
            <span
                style="font-size: 16pt; width: 100px; text-align: center; display: inline-block; margin: 3px; border: 1px solid white; padding: 10px; background-color: rgb(51, 153, 148);">NestJS</span>
            <span
                style="font-size: 16pt; width: 100px; text-align: center; display: inline-block; margin: 3px; border: 1px solid white; padding: 10px; background-color: rebeccapurple;">JavaSpringBoot</span>
            <span
                style="font-size: 16pt; width: 100px; text-align: center; display: inline-block; margin: 3px; border: 1px solid white; padding: 10px; background-color: rgb(153, 51, 131);">Angular</span>
            <span
                style="font-size: 16pt; width: 100px; text-align: center; display: inline-block; margin: 3px; border: 1px solid white; padding: 10px; background-color: rgb(51, 153, 65);">Kotlin</span>
            <span
                style="font-size: 16pt; width: 100px; text-align: center; display: inline-block; margin: 3px; border: 1px solid white; padding: 10px; background-color: rgb(153, 51, 102);">Cypress</span>
            <span
                style="font-size: 16pt; width: 100px; text-align: center; display: inline-block; margin: 3px; border: 1px solid white; padding: 10px; background-color: rgb(102, 168, 102);">Jest</span>
            <span
                style="font-size: 16pt; width: 100px; text-align: center; display: inline-block; margin: 3px; border: 1px solid white; padding: 10px; background-color: rgb(15, 11, 73);">Jasmine</span>
        </div>
    </div>


    <hr>
    <div style="    text-align: right;      ">

        <a href="www.linkedin.com/in/ahmet-emrebas">
            <img style=" width: 50px; border: 3px solid white; border-radius: 100%;"
                src="https://cdn.icon-icons.com/icons2/2429/PNG/512/linkedin_logo_icon_147268.png" />

        </a>
    </div>

    <hr>
    <p style=" font-size: 16pt; 
    font-size: 10pt; 
    text-align:center;
    font-weight: 100;
    color: white;
    ">
        You received this email because you subscribed to Authdare.
    </p>


</body>

</html>