<!DOCTYPE html>
<html>


<body style="color: white; background-color: rgb(21, 72, 102); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">

    <div style="text-align: center;">
        <img style=" display: inline; width: 100px; border-radius: 100%; border: 3px solid rgba(0, 0, 0, 0.795);"
            src="https://png.pngtree.com/png-vector/20191121/ourmid/pngtree-shield-with-a-check-mark-safe-and-protect-logo-on-white-png-image_1870454.jpg"
            alt="Logo" />
    </div>

    <div style="text-align: center">
        <h1 style="font-weight: 600;">{{title}}</h1>
    </div>

    <div style="text-align: center; letter-spacing: 3px; border: 1px dashed white;">
        <h3 style="color: rgb(197, 197, 197); font-family: 'Courier New', Courier, monospace; ">
            {{message}}
        </h3>
    </div>

    <p style="font-size: 10pt; text-align: center; text-decoration: underline ; font-weight: 100;">
        You receieved this email because you
        requested a password reset.
    </p>


</body>

</html>