<div class="abs full" [@enter] [@leave]>
    <mat-card class="auth">
        <mat-card-content>
            <!-- Server Error -->
            <p class="center vs usn">
                &nbsp;
                <span [cdkCopyToClipboard]="err" class="mat-error" [@fadeIn] [@fadeOut] (click)="snack(err)"
                    *ngIf="$serverMessage | async as err">{{ err}}</span>
            </p>

            <div class="vs"></div>

            <form class="col" [formGroup]="forgotPasswordForm">

                <!-- Request Verification Code -->
                <mat-form-field appearance="standard" [@fadeIn] [@fadeOut]>
                    <mat-label>Email</mat-label>
                    <input name="email" type="email" minlength="3" matInput autocomplete="email" required
                        [formControl]="email" [errorStateMatcher]="errorStateMatcher" autofilled="true" />

                    <mat-icon matSuffix color="primary">email</mat-icon>
                    <mat-error>
                        Not a valid email!
                    </mat-error>
                </mat-form-field>

                <div class="vs"></div>

                <!-- Verify Code -->
                <mat-form-field appearance="standard" [@fadeIn] [@fadeOut]>
                    <mat-label>Verification Code</mat-label>
                    <input name="code" type="code" minlength="10" maxlength="100" matInput autocomplete="code" required
                        [formControl]="code" [errorStateMatcher]="errorStateMatcher" autofilled="true" />
                    <mat-icon matSuffix color="primary">vpn_key</mat-icon>
                    <mat-error>
                        Code is not valid!
                    </mat-error>
                </mat-form-field>


                <button name="Request Verification Code" mat-raised-button color="warn" type="button" [@fadeIn]
                    [@fadeOut] [disabled]="email.invalid" (click)="requestVerificationCode()">
                    Request Verification Code</button>


                <div class="vs"></div>
                <button name="Verify Code" mat-raised-button color="accent" type="button" [@fadeIn] [@fadeOut]
                    [disabled]="code.invalid" (click)="verifyCode()">
                    Verify Code</button>


            </form>
        </mat-card-content>
    </mat-card>
</div>