<div class="abs full" [@enter] [@leave]>
    <mat-card class="auth">
        <mat-card-content>
            <!-- Server Error -->
            <p class="center vs usn">
                &nbsp;
                <span [cdkCopyToClipboard]="err" class="mat-error" [@fadeIn] [@fadeOut] (click)="snack(err)"
                    *ngIf="$serverMessage | async as err">{{ err}}</span>
            </p>
            <form class="col" [formGroup]="forgotPasswordForm">
                <!-- Email -->
                <mat-form-field appearance="standard" [@fadeIn] [@fadeOut]>
                    <mat-label>Email</mat-label>
                    <input name="email" type="email" minlength="3" matInput autocomplete="email" required
                        [formControl]="email" [errorStateMatcher]="errorStateMatcher" autofilled="true" />

                    <mat-icon matSuffix color="primary">email</mat-icon>
                    <mat-error>
                        Not a valid email!
                    </mat-error>
                </mat-form-field>

                <div class="vs"></div>
                <button name="Send Verification Code" mat-raised-button color="accent" type="button" [@fadeIn]
                    [@fadeOut]>
                    Send Verification Code</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>