html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

*::selection {
    background-color: yellow;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 90%;
    padding: 30px;
    margin: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
    border: 10px solid transparent;
    box-sizing: border-box;
}

mat-icon {
    user-select: none;
    cursor: pointer;
}

mat-hint {
    font-style: italic;
}
