html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

*::selection {
    background-color: yellow;
    color: black;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

mat-card {
    max-width: 90%;
    width: 400px;
    padding: 30px;
    margin: auto;
}

mat-icon {
    user-select: none;
    cursor: pointer;
}

mat-hint {
    font-style: italic;
}
