html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    border-radius: 20px !important;
}

*::selection {
    background-color: yellow;
    color: black;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.n-select {
    user-select: none;
}

.full {
    width: 100%;
}

mat-card {
    max-width: 90%;
    width: 400px;
    padding: 30px;
    margin: auto;
    z-index: 50;
}

mat-toolbar {
    position: sticky;
    top: 0px;
    z-index: 1000;
}

mat-icon {
    user-select: none;
    cursor: pointer;
}

mat-sidenav-container,
mat-sidenav-content {
    min-height: 100vh;
}

mat-hint {
    font-style: italic;
}

mat-form-field *,
mat-icon,
mat-icon * {
    overflow: visible !important;
}

.snack {
    @extend .center;
    background-color: orange;
    color: black;
}
.snack * {
    position: relative;
    width: 100%;
    text-align: center;
}

input:-webkit-autofill {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.884);
    width: min-content !important;
    padding: 5px;

    -moz-border-radius: 15px;
    border-radius: 15px;
}

.mat-form-field-autofilled mat-label::before {
    content: "✎ Auto Filled";
    position: fixed;
    right: 50px;
    top: 32px;
    color: orange;
    font-size: 11pt;
}

mat-form-field.ng-valid mat-icon::before {
    content: "done";
    font-weight: 900;
    color: rgba(105, 252, 105, 0.911) !important;
    position: absolute;
    right: 30px;
    clear: both;
}

.fix {
    position: fixed;
}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}
