@font-face {
  font-family: "Roboto-Black";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto-BlackItalic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto-BlackItalic.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-BoldItalic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: "Roboto-Italic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto-Italic.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-LightItalic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto-LightItalic.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-MediumItalic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Thin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto-ThinItalic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto-ThinItalic.ttf");
}
