.menu-icon {
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: pointer;
  zoom: 0.7;
}
.menu-icon path {
  stroke: white;
  stroke-width: 3;
  stroke-linecap: round;

  d: path(
    '    M 10 10 L 40 10  M 10 20 L 40 20  M 10 30 C 10, 30, 10, 30, 40, 30 '
  );
  fill: transparent;
  transition: all ease-in-out 400ms;
}

.menu-icon:hover path {
  d: path(' M 10 10 L 40 20 M 10 20 L 40 10  M 10 30 C 10, 30, 20, 40, 40, 30');
}
