@font-face {
  font-family: "Tourney-Italic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Tourney-Italic.ttf");
}
@font-face {
  font-family: "Tourney";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Tourney.ttf");
}
