<mat-card [@enter] [@leave]>
    <mat-card-content>
        <!-- Server Error -->
        <p class="center" style="height: 50px;">
            &nbsp;
            <span class="mat-error" [@fadeIn] [@fadeOut] *ngIf="$serverMessage | async as err">{{ err}}</span>
        </p>
        <form [formGroup]="loginForm" autocomplete="off" class="flex-column">


            <!-- Email -->
            <mat-form-field appearance="standard" [@fadeIn] [@fadeOut]>
                <mat-label>Email</mat-label>
                <input name="email" type="email" minlength="3" matInput autocomplete="email" required
                    [formControl]="email" [errorStateMatcher]="errorStateMatcher" autofilled="true" />

                <mat-icon matSuffix color="primary">email</mat-icon>
                <mat-error>
                    Not a valid email!
                </mat-error>
            </mat-form-field>
            <!-- Password -->
            <mat-form-field appearance="standard" color="primary" [@fadeIn] [@fadeOut]>
                <mat-label>Password</mat-label>
                <input name="password" #passwordInput matInput [type]="passwordType" autocomplete="new-password"
                    required minlength="6" maxlength="100" [formControl]="password"
                    [errorStateMatcher]="errorStateMatcher" />
                <mat-icon role="button" matSuffix color="primary" title="Show-Hide"
                    (click)="tooblePasswordVisibility()">
                    {{passwordIcon}}
                </mat-icon>
                <mat-hint>Password must be at least 6 characters long!</mat-hint>
            </mat-form-field>
            <br />

            <!-- Actions -->
            <button name="Login" mat-raised-button color="primary" type="submit" (click)="login()" [@fadeIn]
                [@fadeOut]>Login</button>
            <br>
            <button name="Forgot Password" mat-raised-button color="accent" type="button" [@fadeIn] [@fadeOut]>Forgot
                Password</button>
        </form>
    </mat-card-content>
</mat-card>