form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;
    max-width: 60%;
    padding: 30px;
    margin: auto;
    color: rgba(36, 34, 34, 0.822);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
}

mat-icon {
    user-select: none;
    cursor: pointer;
}
