<form [formGroup]="loginForm" autocomplete="off" [@enter] [@leave]>
    <p class="mat-error">{{ $serverMessage | async }}</p>
    <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input name="email" type="email" minlength="3" matInput autocomplete="email" required [formControl]="email"
            [errorStateMatcher]="errorStateMatcher" autofilled="true" />

        <mat-icon matSuffix color="primary">email</mat-icon>
        <mat-error>
            Not a valid email!
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard" color="primary">
        <mat-label>Password</mat-label>
        <input name="password" #passwordInput matInput [type]="passwordType" autocomplete="new-password" required
            minlength="6" maxlength="100" [formControl]="password" [errorStateMatcher]="errorStateMatcher" />
        <mat-icon role="button" matSuffix color="primary" title="Show-Hide" (click)="tooblePasswordVisibility()">
            {{passwordIcon}}
        </mat-icon>
        <mat-hint>Password must be at least 6 characters long!</mat-hint>
    </mat-form-field>
    <br />
    <button name="Login" mat-raised-button color="primary" type="submit" (click)="login()">Login</button>
    <br>
    <button name="Forgot Password" mat-raised-button color="accent" type="button">Forgot Password</button>
</form>