mat-card {
    padding-top: 120px;
    margin-top: -100px;
}

mat-icon {
    transition: color ease-in-out 1000ms;
}

mat-form-field.ng-valid.ng-dirty mat-icon {
    color: rgba(100, 250, 100, 0.8);
}

mat-form-field.ng-invalid.ng-dirty mat-icon {
    color: rgba(250, 100, 100, 0.8);
}
