button.auth {
    display: block;
    width: 200px;
    left: -100px;
    text-align: right;
    transition: left ease-in-out 400ms;
    margin-top: 10px;
}

// Do not animate hower for small devices because there is NO hover on touch screens.
@media screen and (min-width: 1000px) {
    button.auth:hover {
        left: -10px;
    }
}
