<!DOCTYPE html>
<html lang="en" style="margin: 0px; padding: 0px">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="font-family: Arial, Helvetica, sans-serif;">


  <div style="
        background-color: rgb(42, 72, 168);
        color: white;
        padding: 20px;
        margin: 0px;
        text-align: center;
        border-radius: 50px;
        border-right: 3px solid rgba(0, 0, 0, 0.349);
        border-bottom: 3px solid rgba(0, 0, 0, 0.349);
      ">


    <h1 style="margin: auto;">Welcome to Authdare</h1>

    <p style="margin: auto; margin-top: 20px;">
      Please click the link below to confirm your email!
    </p>


    <div style="margin-top: 20px;"></div>

    <a  href="<%= locals.link %>">
      <button style="
              border: none;
              outline: none;
              padding: 15px;
              color: white;
              background-color: green;
              font-family: Arial, Helvetica, sans-serif;
              user-select: none;
              border-radius: 30px;
              border: 3px solid rgba(0, 0, 0, 0.425);
              border-right: 3px solid rgba(0, 0, 0, 0.425);
              cursor: pointer;
            ">
        Confirm Email
      </button>
    </a>
  </div>
  </div>

</body>

</html>