<mat-sidenav-container>
    <mat-sidenav-content [@enter] [@leave]>
        <mat-toolbar [color]="isDark ? null : 'primary'">

            <div style="position: fixed;" [@toRight] [@toLeft] style="width:200px;" *ngIf="!(pageName=='Home')">
                <button mat-icon-button [routerLink]="['/']">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    {{pageName}}
                </button>
            </div>
            <div style="position: fixed;" [@toRight] [@toLeft] *ngIf="(pageName=='Home')">
                {{pageName}}
            </div>

            <div style="flex: auto 1;"></div>
            <!-- Theme Switch -->
            <mat-slide-toggle [checked]="isDark" (change)="toggleTheme()" color="white">
                <small matPrefix> {{isDark ? 'Dark' : "Light"}} </small>
            </mat-slide-toggle>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>